.leaflet-control-zoom {
  position: fixed !important;
  bottom: 20px;
  left: 300px;
  z-index: 1000;
}

.emoji-dropdown {
  position: absolute;
  background: #2b2b2b;
  border: 1px solid #444;
  padding: 4px;
  z-index: 2000;
  display: none;
  flex-wrap: wrap;
  max-width: 200px;
}

#filterKategorie {
  margin-top: 5px;
}
  #kategorie-lista {
    margin-left: 10px;
  }

#addLayerBtn {
  margin: 10px 0;
}
